.term-container {
    padding: 10px;
    border: 1px solid #DFE3EA;
    background-color: #e3e5e8;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 #7a7b7c;
    height: fit-content;
}

.term-stats-container {
    border-top: 1px solid #DFE3EA;
}

.term-stats-text {
    margin: 5px 0;
}

.term-title {
    font-size: 30px;
    font-weight: 600;
}

.term-mandatory-course {
    padding: 9px 20px;
    border: 1px solid #DFE3EA;
    margin-top: 15px;
    background-color: #f3f3f3;
    border-radius: 3px;

}


.term-mandatory-course-container {
    margin-top: 15px;
}

.term-dropdown {
    background-color: #f3f3f3;
    margin-top: 15px;
}
